p {
	color:  red;
	font-size: 200%;
	text-align: center;
	border: 5px solid rgb(192,192,192);
	cursor: pointer;
	display: inline-grid;

}

body{
	background-image: url(bg2.jpg);
	background-size: cover;
}

li{
	list-style: none;
	display: inline-grid;
	float: right;
}

img {
	float: right;


}

.div1 {
	border: 5px dashed rgb(0,255,0);
	text-align: center;
	background-color: rgb(0,255,0,0.3);


}

.div2 {
	border: 5px dashed rgb(255,0,0);
	text-align: center;
	background-color: rgb(255,0,0,0.3);


}

#n1 {
	color: black;
}

