img {
	width: 400px;
	height: 300px;
	margin: 3px;
	transition: all 7s;

}

img:hover{

	transform: scale(1.2);
}

.container {

	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

h1{

	font-size: 3em;
	font-family: fantasy;
	border-bottom: 5px solid pink;
	border-right: 5px solid pink;
	text-align: center;
	display: inline-grid;
	width: 400px;


}

h1:hover{


	box-shadow: 5px 5px 5px #888888;

}